---
/* Components */
import Layout from '../layouts/Layout.astro'
import Badge from '../components/Badge.astro'
import SocialPill from '../components/SocialPill.astro'
import ExperienceTimeline from '../components/ExperienceTimeline.astro'
import SectionContainer from '../components/SectionContainer.astro'
import Projects from '../components/Projects.astro'

/* Icons */
import LinkedinIcon from '../icons/Linkedin.astro'
import GithubIcon from '../icons/Github.astro'
import GmailIcon from '../icons/Gmail.astro'
import BriefcaseIcon from '../icons/Briefcase.astro'
import CodeIcon from '../icons/Code.astro'
import Briefcase from '../icons/Briefcase.astro'
import Habilities from '../components/Abilities.astro'
import Laptop from '../icons/Laptop.astro'
---

<Layout
  title='Portfolio of Marco Gonzalez - Web and Software Developer with +1 years of experience'
  description='Hire Marco to create your website or web application. Web and Software Developer. Specialized in creating unique and dynamic web applications'>
  <main class='w-full md:px-6 pt-12 md:pt-0'>
    <SectionContainer classNames='lg:pt-44 lg:pb-24 pb-10'>
      <h1
        class='text-white text-2xl md:text-5xl lg:text-6xl font-bold flex justify-start flex-row items-center gap-x-4 pb-6 lg:pb-10'>
        Hey, I'm Marco <a
          href='https://www.linkedin.com/in/marco-gonzalez-77341b1b7/'
          target='_blank'
          rel='noopener'
          class='flex justify-center items-center'>
          <Badge>Open to work</Badge>
        </a>
      </h1>
      <h2 class='text-xl md:text-2xl text-wrap mb-4'>
        <span>+1 of experience.</span>
        <span class='text-indigo-200/90'>Web Developer.</span>
        <span class='text-purple-200/90'
          >From Maracaibo, Venezuela 🇻🇪, but based in Ecuador 🇪🇨.</span
        >
        <span class='opacity-75'>
          Specialized in creating unique and dynamic web applications
        </span>
      </h2>
      <nav class='flex items-center gap-6 flex-wrap'>
        <SocialPill
          href='https://www.linkedin.com/in/marco-gonzalez-77341b1b7/'>
          <LinkedinIcon class='size-6' /> LinkedIn
        </SocialPill>
        <SocialPill href='https://github.com/Marco-Gonzalez26'>
          <GithubIcon class='size-6' /> Github
        </SocialPill>
        <SocialPill class='size-8' href='mailto:magp260602@gmail.com'>
          <GmailIcon /> magp260602@gmail.com
        </SocialPill>
      </nav>
    </SectionContainer>
    <SectionContainer id='experience'>
      <h2 class='text-2xl font-semibold mb-6 flex gap-x-2 items-center'>
        <BriefcaseIcon class='size-8' />
        Work Experience
      </h2>
      <ExperienceTimeline />
    </SectionContainer>
    <SectionContainer id='experience'>
      <h2 class='text-2xl font-semibold mb-6 flex gap-x-2 items-center'>
        <Laptop class='size-8' />
        Projects
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer>
      <h2 class='text-2xl font-semibold mb-6 flex gap-x-2 items-center'>
        <CodeIcon class='size-8' />
        Abilities
      </h2>
      <Habilities />
    </SectionContainer>
  </main>
</Layout>
