---
import Badge from '../components/Badge.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title='Marco Gonzalez'>
  <main>
    <section class='max-w-3xl w-full mx-auto py-44 px-6'>
      <h1
        class='text-white text-5xl font-bold flex justify-start flex-row items-center gap-x-4 pb-10'>
        Hey, I'm Marco <a
          href='https://www.linkedin.com/in/marco-gonzalez-77341b1b7/'
          target='_blank'
          rel='noopener'
          class='flex justify-center items-center'>
          <Badge>Open to work</Badge>
        </a>
      </h1>
      <h2 class='text-2xl text-wrap'>
        <span>+1 of experience.</span>
        <span class='text-indigo-200/90'>Web Developer.</span>
        <span class='text-purple-200/90'
          >From Maracaibo, Venezuela 🇻🇪, but based in Ecuador 🇪🇨.</span
        >
        <span class='opacity-75'>
          Specialized in creating unique and dynamic web applications
        </span>
      </h2>
    </section>
  </main>
</Layout>
