---
import { getI18N } from '../i18n'
import SectionContainer from './SectionContainer.astro'
import AboutContent from './AboutContent.astro'
import UserIcon from '../icons/User.astro'

const { currentLocale = 'en' } = Astro
const i18n = getI18N({ currentLocale })
---

<SectionContainer id='about'>
  <h2 class='text-2xl font-semibold mb-6 flex gap-x-2 items-center'>
    <UserIcon class='size-8' />
    {i18n.ABOUT_SECTION}
  </h2>
  <AboutContent text_1={i18n.ABOUT_TEXT_1} text_2={i18n.ABOUT_TEXT_2} />
</SectionContainer>
