---
import { Image } from 'astro:assets'

/* Components */
import Layout from '../layouts/Layout.astro'
import SectionContainer from './SectionContainer.astro'

/* Icons */

import { getI18N } from '../i18n'

import Hero from './Hero.astro'
import Experience from './Experience.astro'
import Abilities from './Abilities.astro'
import Projects from './Projects.astro'
import About from './About.astro'
import Contact from './Contact.astro'

const { currentLocale = 'en' } = Astro
const i18n = getI18N({ currentLocale })
---

<Layout title={i18n.SEO_TITLE} description={i18n.SEO_DESCRIPTION}>
  <main class='w-full md:px-6 pt-12 md:pt-0'>
    <Hero />
    <Experience />
    <Projects />
    <Abilities />
    <About />
    <Contact />
  </main>
</Layout>
