---
import SectionContainer from './SectionContainer.astro'
import ContactList from './ContactList.astro'
import ContactIcon from '../icons/Contact.astro'
import { getI18N } from '../i18n'
const { currentLocale = 'en' } = Astro
const i18n = getI18N({ currentLocale })
---

<SectionContainer id='contact'>
  <h2 class='text-2xl font-semibold mb-6 flex gap-x-2 items-center'>
    <ContactIcon class='size-6' />
    {i18n.CONTACT_SECTION}
  </h2>
  <ContactList />
</SectionContainer>
