---
import ExperienceItem from './ExperienceItem.astro'
import { EXPERIENCE_EN, EXPERIENCE_ES } from '../utils/data'
const { currentLocale } = Astro

const experience = currentLocale === 'es' ? EXPERIENCE_ES : EXPERIENCE_EN
---

<ol class='relative border-s border-gray-200 dark:border-yellow-300'>
  {
    experience.map((item) => {
      return (
        <li class='mb-10 ms-4'>
          <ExperienceItem {...item} />
        </li>
      )
    })
  }
</ol>
