---
import { LINKS_EN, LINKS_ES } from '../utils/data'

const { currentLocale } = Astro

const links = currentLocale === 'es' ? LINKS_ES : LINKS_EN
console.log(import.meta.env.VERCEL_URL)
---

<header
  id='header'
  class='hidden md:flex justify-center items-center py-2 max-w-3xl w-full px-6 sticky top-4 z-50 rounded-full'>
  <nav class='flex flex-row gap-x-10 opacity-90'>
    {
      links.map(({ title, link }) => {
        return <a href={link}>{title}</a>
      })
    }
    <a href={`${Astro.url.origin}/${currentLocale === 'es' ? '' : 'es'}`}>
      {currentLocale === 'es' ? 'EN' : 'ES'}
    </a>
    {import.meta.env.VERCEL_URL}
  </nav>
</header>
